.top-bar {
  border-color: transparent;
  border-radius: 0;
  box-shadow: 0 0 40px 8px rgb(0 0 0 / 18%);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.p-button.p-button-plain:enabled:hover *,
.p-button.p-button-plain:not(button):not(a):not(.p-disabled):hover * {
  color: black;
}
